@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#context_openANewTab,
#context_reloadTab,
#context_toggleMuteTab,
#context_pinTab,
#context_unpinTab,
#context_duplicateTab,
#context_selectAllTabs,
#context_bookmarkTab,
#context_moveTabOptions,
#context_sendTabToDevice,
#context_closeTabsToTheEnd,
#context_closeOtherTabs,
#context_undoCloseTab,
#context_closeTabOptions,
#tabContextMenu menuseparator,
#context-sep-sendpagetodevice,
#context-sendpagetodevice,
#tabbrowser-tabs .tabbrowser-tab .tab-close-button,
.tabs-newtab-button
{
    display: none !important
}

.tabbrowser-tab[fadein]:not([pinned]) {
    min-width: 150px !important;
    max-width: 150px !important;
}

/*** Proton Tabs Tweaks ***/

#tabbrowser-tabs {
    --user-tab-rounding: 4px;
}
@media (-moz-proton) {
    .tab-background {
        border-radius: var(--user-tab-rounding) var(--user-tab-rounding)
                       0px 0px !important;
        margin-block: 1px 0 !important;
    }
}

/* Inactive tabs: Outline style */

@media (-moz-proton) {
    .tab-background:not([selected=true]):not([multiselected=true]) {
        border: 1px solid
                var(--lwt-selected-tab-background-color,
                    rgba(255, 255, 255, .20))
                !important;
        background-color: var(--lwt-toolbar-field-background-color,
                              hsla(0, 0%, 100%, .8)) !important;
    }
    /* Remove extra padding between tabs */
    .tabbrowser-tab {
        padding-left: 0 !important;
        color: var(--lwt-tab-text, var(--toolbar-color)) !important;
    }

    /* restore non-proton sound icon */
    .tab-icon-image {
        opacity: 1.0 !important;
    }

    .tab-icon-overlay {
        display: none !important;
    }

    .tab-icon-sound {
      filter: invert(1);
    }

    .tab-icon-sound[soundplaying],
    .tab-icon-sound[muted],
    .tab-icon-sound[activemedia-blocked] {
        list-style-image: url(chrome://global/skin/media/audio.svg);
        display: initial !important;
    }

    .tab-icon-sound[muted] {
        list-style-image: url(chrome://global/skin/media/audio-muted.svg);
    }

    .tab-icon-sound[activemedia-blocked] {
        list-style-image:
            url(chrome://browser/skin/tabbrowser/tab-audio-blocked.svg);
    }

    .tab-icon-sound[pictureinpicture] {
        list-style-image: 
            url(chrome://global/skin/media/picture-in-picture-open.svg);
        width: 14px;
        height: 14px;
        opacity: .8;
    }

    .tab-icon-sound[pictureinpicture]:-moz-locale-dir(rtl) {
        transform: scaleX(-1);
    }

    .tab-icon-sound[soundplaying]:not(:hover),
    .tab-icon-sound[muted]:not(:hover),
    .tab-icon-sound[activemedia-blocked]:not(:hover) {
        opacity: .8;
    }

    .tab-icon-sound[soundplaying-scheduledremoval]:not([muted], :hover),
    .tab-icon-overlay[soundplaying-scheduledremoval]:not([muted], :hover) {
        transition: opacity .3s linear var(--soundplaying-removal-delay);
        opacity: 0;
    }
}
