@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#context_openANewTab,
#context_reloadTab,
#context_toggleMuteTab,
#context_pinTab,
#context_unpinTab,
#context_duplicateTab,
#context_selectAllTabs,
#context_bookmarkTab,
#context_moveTabOptions,
#context_sendTabToDevice,
#context_closeTabsToTheEnd,
#context_closeOtherTabs,
#context_undoCloseTab,
#context_closeTabOptions,
#tabContextMenu menuseparator,
#context-sep-sendpagetodevice,
#context-sendpagetodevice,
#tabbrowser-tabs .tabbrowser-tab .tab-close-button,
.tabs-newtab-button
{
    display: none !important
}

.tabbrowser-tab[fadein]:not([pinned]) {
    min-width: 150px !important;
    max-width: 150px !important;
}

/*** Proton Tabs Tweaks ***/

:root {
    --tab-min-height: 30px !important;
}

@media (-moz-proton) {
    #tabbrowser-tabs {
        --user-tab-rounding: 4px;
    }

    .tab-background {
        border-radius: var(--user-tab-rounding) var(--user-tab-rounding)
                       0px 0px !important;
        margin-block: 1px 0 !important;
    }

    .tab-background:not([selected=true]):not([multiselected=true]) {
        border: 1px solid var(--lwt-selected-tab-background-color) !important;
        background-color: var(--button-bgcolor) !important;
        background-image: initial !important;
    }
    .tab-background:is([selected], [multiselect]) {
        background-color: var(--button-hover-bgcolor) !important;
        background-image: initial !important;
    }

    /* Remove extra padding between tabs */
    .tabbrowser-tab {
        padding-left: 0 !important;
        color: var(--lwt-tab-text, var(--toolbar-color)) !important;
    }

    /* better sound icon */
    .tab-icon-image:not([pinned]) {
        opacity: 1 !important
    }

    .tab-icon-overlay:not([crashed]),
    .tab-icon-overlay[pinned][crashed][selected] {
        /* Position */
        top: -3.5px !important;
        inset-inline-end: -9px !important;
        z-index: 1 !important;

        /* Shape */
        padding: 1.5px !important;
        border-radius: 10px !important;
        width:  17px !important;
        height: 17px !important;
    }
    .tab-icon-overlay:not([sharing], [crashed])
                     :is([soundplaying], [muted], [activemedia-blocked]) {
        /* Color */
        color:  currentColor !important;
        stroke: transparent !important;
        background: transparent !important;
        fill-opacity: 0.8 !important;
        opacity: 1 !important;
    }
    .tab-icon-overlay:not([pinned], [sharing], [crashed])
                     :is([soundplaying], [muted], [activemedia-blocked]) {
        margin-inline-end: 9.5px !important;
    }
}
